body {
	background-image: url('bluedots.jpeg');
	background-size: cover;
	font-family: 'Raleway';
	
}

.container {
	margin: 5% 25% 0% 25%;


}

.transparent {
	padding: 5%;
    margin-bottom: 0px;
    opacity: 0.7;
    background-color: #287780;
    background-size: cover;
    overflow: hidden;
}



.header h2 {	
	text-align: center;
	margin-bottom: 15%;

}

h1 {
	text-align: center;
	font-size: 3em;
	font-family: 'Libre Baskerville';
	font-weight: bolder;
}




dt {
	font-weight: bolder;
}

div h3 {
	text-align: right;
}

div h4 {
	text-align: right;
}

img {
	width: 35%;
	padding: 0 2% 5% 0 ;
	float: left;

}

.bio p {
	text-align: justify;
}

