*	{
	box-sizing: border-box;
	}

body {
	background-image: url('backgroundv2.jpg');
	background-size: cover;
	font-family: 'Raleway';
	font-size: 1em;

}

.container {
	margin: 5% 25% 0% 25%;


}

.transparent {
	padding: 5%;
    margin-bottom: 0px;
    opacity: 0.7;
    background-color: #DCDEDB;
    background-size: cover;
    overflow: hidden;
}



.header h2 {	
	text-align: center;
	margin-bottom: 15%;

}

h1 {
	text-align: center;
	font-size: 3em;
	font-family: 'Libre Baskerville';
	font-weight: bolder;
}




dt {
	font-weight: bolder;
}

div h3 {
	text-align: right;
}

div h4 {
	text-align: right;
}

img {
	max-width: 100%;
	padding: 0 2% 5% 0 ;
	
}



.row {

}

.picturecolumn {
	width: 33%;
	display: inline-block;
	    
}

.bio {
	width: 66%;
	opacity: 0.7;
    background-color: #DCDEDB;
    float: right;
    display: inline-block;
 }

.bio p {
	height: 100%;
	text-align: justify;
}

